/*
  Al momento de disenar una pagina web nesecitamos una paleta
  de colores.
  con:
*/
:root {
  --blanco: #ffffff;
  --oscuro: #272727;
  --naranja: #f6d8c3;
  --primario: #ff4500;
  --secundario: #fb6941;
  --gris: #b2b2b2;
}

/*
Hay tres tipos de tamanos
Los pixeles, los em y los rem
'em' funciona de acuerdo a la etiqueta raiz su dimension, si se aplica
em a una etiqueta hija sera (ejm. 4 em) 4 veces mas grande que el font de la raiz.
"rem" --> son para definir tamanos muy grandes y ayuda a tener mejor resolucion,
para aplicar mejor adaptacion de tu web los distintos dispositivos, se hace lo siguiente, antes el modelo caja de css
es problema cuando defines bordes, alturas, rellenos, etc. Entonces escribimos una regla para todos los elementos
con box
  html {
    font-size: 62.5%;
    ---> Aqui la regla box:
    box-sizing: border-box;
  }
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  body {
    font-size: 16px;
  }
        */

/*  Selectores de Elementos */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory; /*scroll-sanp permite tener movimiento en el eje que determines,
  mandatory es*/
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  font-size: 16px; /* 1rem = 10px*/
  font-family: "Roboto", sans-serif; /*Definimos el font a usar */
  background-image: linear-gradient(
    to bottom,
    #e6e6e6 0%,
    var(--blanco) 100%
  ); /* genera un fondo con degrade indicando(direccion del degrade, color inicial, color final )*/
}
h1 {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 500;
  background-color: var(--oscuro);
  color: var(--gris);
  padding: 3rem;
  margin-bottom: 12px;
}
h2 {
  text-align: center;
  font-size: 2.8rem;
  padding-top: 1rem;
}
h3 {
  text-align: center;
  font-size: 1.8rem;
}

h1 span {
  font-size: 2rem;
}
/* CLASE BOTON*/
.boton {
  background-color: var(--secundario);
  color: var(--naranja);
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5%;
  border: none;
}
.sombras {
  -webkit-box-shadow: -1px 13px 22px 4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 13px 22px 4px rgba(0, 0, 0, 0.44);
  box-shadow: -1px 13px 22px 4px rgba(0, 0, 0, 0.44);
  background-color: var(--blanco);
}
/*  Selector de Clase */
/*  Selector de Id */
/*  Selector de Atributo */
/* Selector de Hijos Combinados
Ejemplo
  .clase > p{
    color:blue;
  }
*/
/*----------UTILIDADES ----------*/
.boton-sm-100 {
  width: 100%;
}
@media (min-width: 768px) {
  .boton-sm-100 {
    width: auto;
  }
}
/*siguiente utilidad par alineart derecha*/
.flex {
  display: flex;
}
.alinear-derecha {
  justify-content: flex-end;
}

.nav-bg {
  background-color: var(--secundario);
  margin-bottom: 12px;
}
/*----------FIN UTILIDADES-----------*/
/*<<<<<<<<Modulos >>>>>>>>>>*/
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.nav-principal {
  display: flex; /*Permite acceder a propiedades de caja o flexbox(ejes: row y column)*/
  justify-content: space-around; /*ra modificar secciones de texto horizontales*/
  flex-direction: column;
}
/* A partir de 768 para abajoel codigo css siguiente sera aplicado*/

.nav-principal a {
  color: var(--naranja);
  text-align: center;
  text-decoration: none; /*ra quitar los subrayados*/
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}
@media (max-width: 480px) {
  .nav-principal a {
    font-size: 1.6rem;
    padding: 0.9rem;
  }
}
.nav-principal a:hover {
  /* hover y otras son pseudoclases*/
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero {
  background-image: url(../imagenes/font_header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  position: relative;
}

.contenido-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  /*
    A continuacion codigo para alineart vertical y horizontalmente
  */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  Especifico estilos dentro de contenido-hero*/
.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}
/* Flexbos tiene acceso a rows y columns
      CSS Gris tiene acceso a ambos a continuacio ejemplo */
.servicios {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%; /* o tambien puede ser "repeat(3, 1fr) = repeat(3, 33.3%)"*/
  column-gap: 1rem; /*Separacion entre columnas*/
}
@media (max-width: 768px) {
  .servicios {
    display: block;
  }
}
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio .icons {
  height: 15rem;
  width: 15rem;
  background-color: var(--naranja);
  border-radius: 50%;
  border: 0.3rem solid var(--primario);
  /* Ahora aplicamos propiedades de formato de los section*/
  display: flex;
  align-items: center;
  justify-content: space-evenly; /*Separa a apartir del centro*/
}
.servicio h3 {
  color: var(--secundario);
  font-weight: normal;
}
section {
  padding-inline-end: 2rem;
  padding-inline-start: 1rem;
}
section p {
  text-align: center;
  margin-right: 1rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1.6rem;
  line-height: 2rem;
}

.formulario {
  background-color: var(--oscuro);
  width: min(
    60rem,
    100%
  ); /*min para el valor mas pequeno a tomar, sino 100% por defecto del formulario*/
  margin: 0 auto; /*(centreamos) Cuando no tengas acceso a un padre display flex*/
  padding: 2rem;
  border-radius: 5%;
}
.formulario fieldset {
  border: none;
}
.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700; /* Negritas*/
  margin-bottom: 2rem;
  color: var(--naranja);
}

@media (min-width: 768px) {
  /* Activamos gris porque trabajaremos en secciones dentro
      del formulario y no con cajas*/
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 15rem;
    column-gap: 1rem;
  }
  /*Consigo al tercer campo para que se expanda con lo siguiente*/
  .campo:nth-child(3) {
    grid-column: 1/3; /*tengo 3 lineas que conforman las columnas (2 paredes y una parte a la mitad la seccion)*/
  }
  .campo:nth-child(4) {
    grid-column: 1/3; /*tengo 3 lineas que conforman las columnas (2 paredes y una parte a la mitad la seccion)*/
  }

  .alinear-derecha {
    grid-column: 1/3;
  }
}
.campo {
  margin-bottom: 1rem;
}
.campo label {
  color: var(--naranja);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="email"] {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.mensaje {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
footer {
  text-align: center;
}
/*,<<<<<<<<<<<Fin Modulos>>>>>>>>>>>>>>*/